.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:2px 2px;
}
.item {
    background-color: #0000ff;
    border-radius: 5px;
    padding: 20px;
    color: #fff;
    font-size: 20px;
}