.container {
    background-color: #ccc;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid: 10px;
}

.item {
    background-color: #0000ff;
    border-radius: 2px;
    margin: 2px;
    padding: 10px;
    color: #fff;
    font-size: 20px;
}

.item1 {
    grid-column: 1 / span 3;
}