.container {
    background-color: #ccc;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid: 10px;
}

.item {
    background-color: #0000ff;
    border-radius: 2px;
    margin: 2px;
    padding: 10px;
    color: #fff;
    font-size: 20px;
}

.item7 {
    background-color: #00ff00;
    color: #000;

    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 3;
}

.item5 {
    background-color: red;

    grid-column-start: 1;
    grid-column-end: 2;
}